---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -readability-function-cognitive-complexity,
        -bugprone-easily-swappable-parameters,
        -fuchsia-default-arguments-calls,
        -google-readability-todo,
        -fuchsia-default-arguments-declarations,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cert-err33-c,
        -hicpp-vararg,
        -cppcoreguidelines-pro-type-vararg,
        -hicpp-avoid-c-arrays,
        -cppcoreguidelines-avoid-c-arrays,
        -modernize-avoid-c-arrays,
        -cppcoreguidelines-prefer-member-initializer,
        -cppcoreguidelines-pro-type-reinterpret-cast,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'
